In [12]:
import json
import pandas as pd
import numpy as np

In [13]:
with open('data/mysql.json', 'r') as file: 
    config_str = file.read() 
    config = json.loads(config_str)

In [14]:
import pymysql
conn = pymysql.connect(
    host = config['host'],
    user = config['user'],
    password=config['password'],
    database=config['database'],
    port=config['port']
)

In [15]:
cur = conn.cursor()
sql ='''
select id, date_format(dt, "%Y-%m-%d %H:%i") AS my_date from date_table;'''
cur.execute(sql)

5

In [16]:
cur = conn.cursor()
sql ='''
    SELECT *
    FROM city '''
cur.execute(sql)

4083

In [21]:
row_list=[]
x = cur.fetchall()
for row in cur.fetchall():
    print(row)
    row_list.append(row)

In [18]:
df = pd.DataFrame(x, columns=['id', 'city', 'country_code', 'district', 'population'] )

In [19]:
df.set_index('id',inplace=True)
df

                city country_code       district  population
id
1              Kabul          AFG          Kabol     1780000
2           Qandahar          AFG       Qandahar      237500
3              Herat          AFG          Herat      186800
4     Mazar-e-Sharif          AFG          Balkh      127800
5          Amsterdam          NLD  Noord-Holland      731200
...              ...          ...            ...         ...
4079           Rafah          PSE          Rafah       92020
4081              김포          kor             경기      200000
4082              화성          kor             경기      200000
4083              오산          kor             경기      150000
4084              포천          kor             경기      120000

[4083 rows x 4 columns]

In [20]:
cur.close()
conn.close()